.host {
  svg {
    display: block;
    width: 14rem;
    height: 14rem;
  }

  video {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    outline: 1px solid red;
    max-width: 30rem;
  }
}

html, body {
  font-size: 16px;
}

canvas, video {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity .5s;
  margin: 1rem;
  pointer-events: none;
}

.buttons {
  position: absolute;
  // left: 640px;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;

  button {
    margin: .5rem 1rem;
  }
}

.marker-debug {
  position: absolute;
  top: 0;
  left: calc(640px + 1rem); 
  margin: 1rem;
  p {
    font-family: 'Courier New', Courier, monospace;
    font-size: .75rem;
    font-weight: bold;
  }
}

.hidden {
  opacity: 0 !important;
}